<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kapely</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Vlastní CSS styly -->
</head>
<body>
    <header class="bg-primary text-light py-5">
        <div class="container">
            <h1 class="display-4">Kapely</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
        </ul>
    </nav>
    <main class="container mt-5">
        <div class="row">
            {% for kapela in kapely %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ kapela.jmeno }} - {{ kapela.zanr }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    <footer class="bg-primary text-light py-4 text-center">
        <div class="container">
            <p>David Balcar | IT3</p>
        </div>
    </footer>

    <!-- Bootstrap JavaScript a další závislosti -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>