<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Songs</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Seznam písní</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
        </ul>
    </nav>
    <main>
        <ul>
            {% for pisnicka in pisnicky %}
                <li>{{ pisnicka.kapela_jmeno }} - {{ pisnicka.jmeno_pisne }} - {{ pisnicka.zanr }}</li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>David Balcar | IT3</p>
    </footer>
</body>
</html>